/* https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=546e7a&secondary.color=9CCC65 */
:root {
	--primary: #546e7a;
	--dark: #29434e;
	--light: #819ca9;
	--p_text: #FFFFFF;
	--borders: #8899a1;
	--background: #222d32;
	--background-dark: #1e282c;
	--background-darker: #1a2226;
	--background-dark-color: #4b646f;
	--blue: #3c8dbc;
	--blue-dark: #367fa9;
	--background-light: #ecf0f5;
	--card-border: #d2d6de;
	--card-background: #FFFFFF;
	--white: #FFFFFF;
	--cream: #b8c7ce;
	--table-border: #f4f4f4;
	--table-dark-rows: #f9f9f9;

	--backdrop_dark: #E1E2E1;
	--backdrop_light: #F5F5F6;

	--o_primary: #ff7043;
	--o_light: #ffa270;
	--o_dark: #c63f17;
	--o_text: #000000;

	--g_primary: #9ccc65;
	--g_light: #cfff95;
	--g_dark: #6b9b37;
	--g_text: #000000;
}

body, html {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: var(--backdrop_light);

	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;

	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	display: flex;
    flex-direction: column;
}

h3, table, tr, td {
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0;
}

h3 {
	font-size: 20px;
	font-weight: bold;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: flex-start;
	height: 100%;
}

.leftSide {
	flex-grow: 0;
	background-color: var(--background);
}

.rightSide {
	flex-grow: 1;
	overflow: auto;
}
.centered {
	justify-content: center;
	align-items: center;
	text-align: center;
}

.logoheader {}
.logoheader.dark {
	background-color: var(--blue-dark);
}

.profileBox {
	display: flex;
	flex-direction: row;
}

	.profilePhoto {
		background-image: url('https://avatars1.githubusercontent.com/u/861439?s=460&v=4');
		background-size: cover;
		min-width: 64px;
		min-height: 64px;
		margin: 10px;
		border-radius: 32px;
		border: 1px solid var(--g_primary);
	}

	.profileInfo {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-grow: 1;
	}

		.profilename {
			color: var(--white);
		}

		.profilerole {
			color: var(--background-dark-color);
		}

.subheader {
	background-color: var(--background-darker);
	color: var(--background-dark-color);
	padding: 10px;
}

.subheader.active {
	color: var(--white);
}

.logoholder {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	min-width: 200px;
}

.logo {
	background-image: url('/resources/images/logo.png');
	background-size: cover;
	min-width: 50px;
	min-height: 50px;
	max-width: 64px;
	max-height: 64px;

	margin-right: 5px;
	margin-left: 5px;
}

.menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-grow: 1;
	overflow: hidden;
}

.logoheader {
	background-color: var(--blue);
	min-height: 50px;

	display: flex;
	flex-direction: row;

	padding-right: 5px;

	color: var(--white);
}

.button {
	cursor: pointer;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin-top: 15px;
	background-color: var(--blue-dark);
    margin-right: 3px;
}

.button.shadow {
	box-shadow: 7px 2px 9px 5px rgba(0, 0, 0, 0.3);
}

.button.shadowEnd {
	box-shadow: 5px 0px 13px 0px rgba(0, 0, 0, 0.62);
}

.button:hover {
	color: var(--cream);
}

.button.active {
	background-color: var(--backdrop_light);
	color: #000000;
}

.popup {
	position: absolute;
	left: 50%;
	top: 50%;
}

.loginbox {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--blue);
	border-radius: 3px;
	background-color: var(--background);
}

	.input {
		margin-top: 5px;
		margin-bottom: 5px;
		border-radius: 3px;
		border: 1px solid var(--borders);
		padding: 3px;
	}

	.loginbox > .title {
		color: var(--white);
	}

	.fields {
		display: flex;
	    flex-direction: column;
	    padding: 10px;
	}

.body {
	color: rgb(51, 51, 51);
}

.body.loginview {
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

.overview {
	padding: 10px;
	display: flex;
    flex-direction: row;
}

.certificates {
	display: flex;
    flex-direction: column;
}

.serverHeader {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title {
	margin-bottom: 5px;
	margin-top: 5px;
}



.footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: auto;
	background-color: var(--backdrop_dark);
	padding: 2.5px;
}

.footerdescription {
	font-size: 9px;
}

.footer > a {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.footer > a > * {
	margin-left: 2.5px;
	margin-right: 2.5px;
	text-decoration: none;
}

.right {
	margin-left: auto !important;
}

.green {
	color: var(--g_primary);
}

.blue {
	color: var(--blue);
}

.cursor {
	cursor: pointer;
}

.machines {
	padding: 30px;
}

.category {
	cursor: pointer;
}

.category > *:hover {
	color: var(--cream);
}

table {
	flex-grow: 1;
	width: 100%;
}
tr {
	margin: 0px;
}
td.tableheader {
	margin: 0px;
	padding: 5px;
	background-color: var(--cream) !important;
	color: var(--p_text);
}
td.column {
	margin: 0px;
	padding: 5px;
}
.row {
	cursor: pointer;
}

tr:nth-child(even) {background: var(--table-dark-rows)}

option.bold {
	font-weight: bold;
	color: var(--o_primary);
}

.machine_stopped {
	color: var(--o_dark);
}

.machine_started {
	color: var(--g_primary);
}

.powerOn {
	color: var(--g_primary);
}

.powerOff{
	color: var(--o_dark);
}