.popup {
	position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.popupbody {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--blue);
	background-color: var(--background-light);
}

.popupbody > .title {
	margin: 0px;
	padding: 10px;
    color: var(--white);
    background-color: var(--blue-dark);
}

.card > .header {
	padding: 10px;
    background-color: var(--blue);
    color: var(--white);
    font-weight: bold;
}

.inputs {
	padding: 10px;
    display: flex;
    flex-direction: column;
}

.popupbody > .buttons {
	display: flex;
	flex-direction: row;
	border-top: 1px solid var(--light);
}

	.popupbody > .buttons > button {
		background-color: var(--blue);
    	border: 0px;
    	padding: 5px;
	}

	.popupbody > .buttons > .Save {
		flex: 1;
		color: var(--power-on);
		border-right: 1px solid var(--light);
	}
		.popupbody > .buttons > .Save:hover {
			font-weight: bold;
		}

	.popupbody > .buttons > .OK {
		flex: 1;
		color: var(--g_primary);
		border-right: 1px solid var(--light);
	}
		.popupbody > .buttons > .OK:hover {
			font-weight: bold;
		}

	.popupbody > .buttons > .Discard {
		flex: 1;
		color: var(--o_primary);
	}
		.popupbody > .buttons > .Discard:hover {
			font-weight: bold;
		}
	.popupbody > .buttons > .Cancel {
		flex: 1;
		color: var(--o_primary);
	}
		.popupbody > .buttons > .Cancel:hover {
			font-weight: bold;
		}